*.pyc
*.tar.gz
*.pyd
*.pyo
a/*
__pycache__/*
*.log
dependencies/*
**/output_dir/*
**/*_checkpoint/*
**/input_dir/*
*.tar
**/.ipynb_checkpoints/*
SparkCore/ReadingAndWriting/data/output/*
